* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color:  #28e98c;
}

ul li {
    list-style: none;
}

h5 {
    width: 100%;
    font-size: 1rem;
}

body {
    background-color: black;
    color: whitesmoke;
}

.video {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    opacity: 0.2;
}

.color__letter {
    color: #28e98c;
    margin-left: 0.5rem;
}

/* ################################################ */
/* seccion card */
@media (max-width:970px) {
    .divnavbar {
        display: none;
        /* order: -1;
      margin-bottom: 20px; */
    }

    .ham {
        position: fixed;
        right: 0;
        z-index: 1030;
    }

    .card {
display: none;

    }
}


.navbar li:hover {
    transform: scale(1.2);
    transition: transform 0.3s;
    color: white;
    /* Change font color on hover */


}

.divnavbar {
    width: 40%;
    padding-bottom: 2rem;
    position: fixed;
    right: 0;
    z-index: 1030;
   
}

.divnavbar .navbar {
    display: flex;
    justify-content: space-evenly;




}

.card {

    background-color: rgba(11, 11, 11, 0.338);
    color: white;
    border-color: rgba(245, 245, 245, 0.305);

}

.card-titulo {
    font-size: 1.5rem;
}

.ham {
    display: none;
    display: flex;
    justify-content: end;
    color: #28e98c;
    position: relative;
    right: 0;
    z-index: 3;
}

.probando {
    display: flex;
}

.card {

    position: fixed;

    padding: 20px;
}





.btn {
    display: block;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;
    background-color: #28e98c;
    color: black;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #3988c8;
}

.titulo {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 5rem;
    position: relative;
    flex: 1;
    /* margin-right: 10rem; */
    font-size: 2rem;
    padding: 5rem 2rem;

}

.social-profile {
    margin-right: 2rem;
    gap: 1rem;
}

.social-profile a {
    color: white;
}

.social-profile li {
    display: flex;
    justify-content: center;
    width: 50px;
    height: 50px;
    line-height: 46px;
    text-align: center;
    border: 2px solid #565656;
    border-radius: 50%;
    color: #999999;
    font-size: 20px;
    transition: .3s;



}

.social-profile a:hover {
    color: #28e98c;
}

/* seccion del titulo */

/* ################################################ */

/* seccion about */

.about-area {
    padding-top: 90px;
    padding-bottom: 90px;
    margin: 0 auto;
}

.about-area .about-content p {
    line-height: 30px;
    max-width: 610px;

}

.p {
    display: flex;
    justify-content: center;
    text-align: center;
}

/* fin de la seccion about */

/* ################################################ */

/* seccion resume 
*/
.resume-area {
    padding-top: 90px;
    padding-bottom: 90px;
    display: flex;
    justify-content: center;
    color: #ffffff;
}


.resume-area .resume-content .resume-timeline .item {
    position: relative;
    padding-left: 74px;
    padding-bottom: 68px;

}

.resume-area .resume-content .resume-timeline .item:last-child {
    padding-bottom: 0;

}

.resume-area .resume-content .resume-timeline .item:last-child::after {
    height: calc(100% - 10px);

}

.resume-area .resume-content .resume-timeline .item::after {
    content: '';
    background: #fafafa;
    width: 1px;
    height: 100%;
    position: absolute;
    left: 0;
    top: 10px;
    z-index: -1;

}

.resume-area .resume-content .resume-timeline .item::before {
    content: '';
    position: absolute;
    width: 12px;
    height: 12px;
    background: #ffffff;
    border-radius: 50%;
    left: -6px;
    top: 7px;
    transition: .3s;

}

.resume-area .resume-content .resume-timeline .item .date {
    display: block;
    margin-bottom: 28px;
    transition: .3s;
    color: #28e98c;
}


.resume-area .resume-content .resume-timeline .item h2 {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 5px;
    color: #ffffff;
}

.resume-area .resume-content .resume-timeline .item h2 a {
    color: #ffffff;
    display: block;
}

.resume-area .resume-content .resume-timeline .item p {
    font-size: 13px;
    color: #fef9f9;
    margin-bottom: 18px;
}

.resume-area .resume-content .resume-timeline .item p:last-child {
    margin-bottom: 0;
}


/* fin de la seccion resume  */

/* ################################################ */

/*  Seccion services */

.services-area {
    padding-top: 90px;
    padding-bottom: 90px;

}

.section-header h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.services-items .service-item {
    border: 1px solid #fff;
    border-radius: 20px;
    transition: .3s;
    position: relative;
    padding: 44px 48px 41px 48px;
    margin-bottom: 10px;
}

.services-items .service-item:last-child {
    margin-bottom: 0;
}

.services-items .service-item h2 {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 8px;
    color: whitesmoke;
}

.services-items .service-item h2 a {
    color: whitesmoke;
    transition: .3s;
}




.services-items .service-item p {
    font-size: 14px;
    color: whitesmoke;
    margin-bottom: 30px;
}

.services-items .service-item .projects {
    font-size: 12px;
    color: whitesmoke;
    text-transform: uppercase;
    display: inline-block;
}

.services-items .service-item:hover .projects {
    text-decoration: underline;
}

.services-items .service-item i {
    position: absolute;
    font-size: 30px;
    color: red;
    top: 45px;
    right: 50px;
}


/* ################################################ */
.skills-area {
    padding-top: 90px;
    padding-bottom: 40px;
}

.skill-i {
    text-align: center;
    text-transform: uppercase;
}


.skills .skill {
    margin-bottom: 50px;
}

.skill-header {
    margin-bottom: 2rem;
}

.skills .skill .skill-inner {
    border: 2px solid whitesmoke;
    border-radius: 85px;
    padding: 50px 0 48px 0;
    margin-bottom: 20px;
    transition: .3s;
}

.skills .skill .skill-inner img {
    display: block;
    margin: auto auto 29px auto;
}

.skills .skill .skill-inner h1 {
    font-size: 30px;
    color: whitesmoke;
    font-weight: 300;
    margin: 0;
}

.skills .skill p {
    font-size: 14px;
    color: whitesmoke;
    margin: 0;
}
.skill-inner:hover{
    transform: scale(0.9);
}


/* ################################################ */

.portfolio-area {
    padding-top: 90px;
    padding-bottom: 90px;
}

.portfolio-items .portfolio-item {
    margin-bottom: 62px;
}

.portfolio-items>div:last-child .portfolio-item {
    margin-bottom: 0;
}

.portfolio-items .portfolio-item .portfolio-item-inner {
    height: 370px;
    overflow: hidden;
    border-radius: 30px;
    position: relative;
    margin-bottom: 30px;
}

.portfolio-items .portfolio-item.portfolio-full .portfolio-item-inner {
    height: 410px;
}

.portfolio-items .portfolio-item .portfolio-item-inner img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.portfolio-items .portfolio-item .portfolio-item-inner .portfolio-categories {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    align-items: center;
    bottom: 20px;
    left: 20px;
}

.portfolio-items .portfolio-item .portfolio-item-inner .portfolio-categories li a {
    display: block;
    font-size: 14px;
    background: #fff;
    color: #000;
    padding: 7px 20px;
    border-radius: 19px;
    transition: .3s;
}

.portfolio-items .portfolio-item:hover .portfolio-item-inner .portfolio-categories li a {
    background: #1f1f1f;
    color: #fff;
}

.portfolio-items .portfolio-item h2 {
    font-size: 24px;
    font-weight: 300;
    margin: 0;
}

.portfolio-items .portfolio-item h2 a {
    color: #fff;
    display: inline-block;
    border-bottom: 1px solid transparent;
    transition: .3s;
}

.portfolio-items .portfolio-item:hover h2 a {
    border-color: #ffffff;
}


/* ################################################ */

/* .formulario {
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 1rem;
    margin: 0rem auto;
} */
.formulario {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f900;
    border: 1px solid #cccccc00;
    border-radius: 5px;
    font-family: Arial, sans-serif;
    color: rgb(255, 255, 255);
}

.input-group {
    margin-bottom: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #0d0d0d00;
    border-radius: 5px;
    font-size: 16px;
}

.submit-btn-wrap {
    text-align: center;
}

.theme-btn {
    background-color: #28e98c;
    color: rgb(253, 253, 253);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}
.theme-btn:hover{
    background: black;
    color: white;
}